:root {
    --primary-text-color: rgba(255, 255, 255, 1);
    --primary-accent-color: rgba(255, 107, 8, 1);
    --accent-color: rgba(255, 0, 27, 1);
    --title-text-color: rgba(0, 0, 0, 1);
    --second-text-color: rgba(84, 84, 84, 1);
    --primary-bg-color: #FFFFFF;
    --footer-bg-color: #F7F7F7;

}