<div class="modal__backdrop">
  <div class="modal__container">
    <div class="film__image">
      <img
        class="image"
        src="https://image.tmdb.org/t/p/original/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
        alt="Avatar: the way of water"
      />
    </div>
    <div class="film__information">
      <div>
        <h2 class="film__title">Avatar: The Way of Water</h2>
        <ul>
          <li class="film__item">
            <p class="film__details">Vote / Votes</p>
            <p class="film__info--uper">
              <span class="film__rating--orange">7.721</span>
              <span class="film__rating--divider"> / </span>
              <span class="vote-count">4306</span>
            </p>
          </li>
          <li class="film__item">
            <p class="film__details">Popularity</p>
            <p class="film__info--uper">2960.254</p>
          </li>
          <li class="film__item">
            <p class="film__details">Original title</p>
            <p>Avatar: The Way of Water</p>
          </li>
          <li class="film__item">
            <p class="film__details">Genre</p>
            <p class="film__info">Science Fiction, Adventure, Action</p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="film__about__title">About</h3>
        <p class="film__about__text">
          Set more than a decade after the events of the first film, learn the
          story of the Sully family (Jake, Neytiri, and their kids), the trouble
          that follows them, the lengths they go to keep each other safe, the
          battles they fight to stay alive, and the tragedies they endure.
        </p>
      </div>
      <div class="film__button__wrapper">
        <button type="button" class="film__button btn__watch" data-id="76600">
          Add to watched
        </button>
        <button type="button" class="film__button btn__queue" data-id="76600">
          Add to queue
        </button>
      </div>
      <div class="film__trailer">
        <a class="btn btn-large btn-primary film__trailer__btn" href="#">
          <p class="film__trailer__text">watch trailer</p>
        </a>
      </div>
    </div>
    <div class="closeModal">
      <button type="button" class="modal__close-btn">
        <svg class="modal__icon" width="18" height="18">
          <use xlink:href="./images/svg.svg#icon-close_button"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
