<div class="backdrop__team is-hidden">
  <div class="container modal__team">
    <button class="modal__close modal__team-btn" type="button">
      <svg class="modal__close-icon" width="26" height="26">
        <use href="./images/svg.svg#icon-close_button"></use>
      </svg>
    </button>
    <section class="m-team">
      <h2 class="m-team__title">Best Developers</h2>
      <ul class="m-team__list">
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/ViktoriiaImg1.png" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Вікторія Цибульська</h3>
            <p class="m-team__job-title">Team Lead</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/Viktoriia181818"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/RostyslavImg1.png" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Ростислав Качор</h3>
            <p class="m-team__job-title">Scrum Master</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/Rekovich"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/MariiaImg1.jpg" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Марія Крижалко</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/Mariia1811"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/andreyImg1.jpg" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Андрій Іванов</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/AndyPast"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/YuliaImg1.png" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Юлія Паламарчук</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/YuliaMiha"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/SergiyL1.jpg" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Сергій Ляхов</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/Liakhov-Serg"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/ivanImg1.jpg" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Іван Осифляк</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/osyfliak"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/SergiyV1.jpg" alt="Team Lead" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Сергій ВІльчинський</h3>
            <p class="m-team__job-title">Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="https://github.com/Sergey-Vil"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/svg.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
