<section class="cards section">
    <h2 class="visually-hidden" aria-label="film cards">Film cards</h2>
    <div class="container">
      <div class="films__cards">
        <li class="card">
            <img
              src="./images/filmmob.jpg"/>
            <div class="info">  
            <h3 class="movie_title">
               <p class="film_title"> Руzzzкий корабель пішов ...</p>
              <p class="film_genre">Drama|2022</p>
            </h3>
        </div>
        </li>
        <!-- <li class="card">2</li>
        <li class="card">3</li>
        <li class="card">4</li> -->

      </ul>
    </div>
  </section>
