<section class="cards section">
    <h2 class="visually-hidden" aria-label="film cards">Film cards</h2>
    <div class="container">
      <ul class="films__cards">
        <li class="card">
            <img
              src="./images/filmmob.jpg"/>
            <div class="info">  
            <h3 class="movie_title">
               <p class="film_title"> Руzzzкий корабель пішов ...</p>
              <p class="film_genre">Drama | 2022</p>
            </h3>
      </ul>
    </div>
 </section>
  <!-- <body>
    <section class="section-card">
        <div class="conteiner">
            <ul class="card-list">
            </ul>
        </div>
    </section>
</body> -->