<section class="cards section">
    <h2 class="visually-hidden" aria-label="film cards">Film cards</h2>
    <div class="container">
      <div class="films__cards">
        <li class="card">
            <img
              src="./images/filmmob.jpg"/>
               
        
            <h3 clas="movie_title">Руzzzкий корабель пішов ...<
              <p class="film_genre"></p>
              <p class="film_year"></p>
            </h3>
        </li>
        <!-- <li class="card">2</li>
        <li class="card">3</li>
        <li class="card">4</li> -->

      </ul>
    </div>
  </section>
