.film-button{
    width: 150px;
    height: 50px;
    display: flex;align-items: center;
    justify-content: center;
    color: ghostwhite;
    background-color: #ff6347;
    text-decoration: solid;
    
}