.header-library {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px 62px;

  color: var(--primary-text-color);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/hd-libr-320.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/hd-libr-320@2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .header-library {
    padding: 40px 0px 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/hd-libr-768.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/hd-libr-768@2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .header-library {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/hd-libr-1280.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/hd-libr-1280@2x.jpg');
    }
  }
}
.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__logo {
  color: var(--primary-text-color);
}

.header__logo--text {
  display: none;

  margin-left: 10px;
  font-size: 30px;

  line-height: 1.167;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.navigation__list {
  display: flex;
  gap: 39px;
}

.header-library__btn-list {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.navigation__link {
  font-size: 12px;
  line-height: 1.167;

  text-transform: uppercase;
  color: var(--primary-text-color);
}
.navigation__link--current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--accent-color);
  }
}

.header-library__btn {
  min-width: 130px;
  min-height: 44px;
  padding: 14px 36px 12px;

  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;

  background-color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  border-radius: 5px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    // background-color: transparent;
    border-color: var(--primary-bg-color);
  }

  @media screen and (min-width: 768px) {
    min-width: 152px;
    padding: 13px 46px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 148px;
    min-height: 42px;
    padding: 13px 42px 12px;
  }
}

.header-library__btn--active {
  background-color: transparent;
  border-color: var(--primary-bg-color);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
